.bar {
  fill: rgb(0, 113, 188);
}

.bar:hover {
  fill: rgb(181, 95, 156);
}

.axis--x path {
  display: none;
}


.tooltip {
  background: #eee;
  box-shadow: 0 0 5px #999999;
  color: #333;
  display: none;
  font-size: 10px;
  left: 130px;
  padding: 10px;
  position: absolute;
  text-align: center;
  top: 95px;
  width: 300px;
  z-index: 10;
  opacity: 1;
  word-wrap: break-word;
}